*{
    padding: 0px;
    margin: 0px;
   
    font-family: "Source Sans 3", sans-serif;
}
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');  
.background-body{
    background-color: #e5e5e5 !important;
}
.bg-back{
    background-color: #FFFFFF !important;
}
.bg-FFFFFF{
    background-color: #FFFFFF !important;
}
.bg-gradient{
    background: linear-gradient(146.39deg, #0070B2 -0.65%, #0079B6 13.32%, #0092C3 36.57%, #00A3CB 84.07%) !important;

}
.bg-w-f{
    background: #FFFFFF !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-300{
    font-weight: 300;
}
.bg-BFBFBF{
    background: #BFBFBF !important;
}
.border-darks{
    border: 4px solid #192126;
    border-radius: 50%;
}
.text-192126{
    color: #192126;
}
.text-97989D{
    color: #97989D;
}
.text-262626{
    color: #262626;
}
.text-FFFFFF{
    color: #FFFFFF;
}
.text-1B1B1B{
    color: #1B1B1B;
}
.text-0070B2{
    color: #0070B2 !important;
}
.text-14B832{
    color: #14B832;
}
.text-E94343{
    color: #E94343 !important;
}
.text-616161{
    color: #616161 !important;
}
.background-center-section{
    background: #e5e5e5;
}
.bg-F5F5F5{
    background-color: #F5F5F5;
}
.bg-192126{
    background-color: #192126;
}
.bg-shad{
    box-shadow: 0px 6px 6px 2px #4799EB0A;
    background: #E8E9EA;
    border: 1px solid #192126;
    height: 68px;
}
.bg-picture{
    border: 1px solid;
    border-image-source: linear-gradient(146.39deg, #0070B2 -0.65%, #0079B6 13.32%, #0092C3 36.57%, #00A3CB 84.07%);
}
.fs-26{
    font-size: clamp(1rem, 0.8843rem + 0.6173vw, 1.625rem);
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: clamp(1rem, 0.9769rem + 0.1235vw, 1.125rem);
}
.text-3F4354{
    color: #3F4353 !important;
}
.bg-popular{
    background: #1921261A;
}
.pointer{
    cursor: pointer;
}
.hover:hover{
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 8px;
}
.hover-color:hover{
    border: 2px solid black;
    border-radius: 30px;
}
.tooltip.show {
    opacity: 1;
  }
  
  .tooltip-inner {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
    color: #262626;
  }
.zn-1{
    position: absolute;
    top: -20px;
}